---
{
"urlFormat": "index.html"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content={{richTextDescription}}>
    {{>head}}
    {{>schema-product}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
{{>navbar}}

<body>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" id="contactFrm">
             <div class="modal-body">
                    <div class="response"></div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name" type="text" placeholder="name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
                    Email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="Email" type="text" placeholder="Email">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="Description">
                    Description
                </label>
                <input
                    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="Description" type="Description" placeholder="Description">
                <p class="text-red-500 text-xs italic">Please describe in details</p>
            </div>
            <div class="modal-footer">
                    <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
                </div>   
            </div>
            
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2020 Acme Corp. All rights reserved.
        </p>
    </div>
</body>
<script>
 
    $(document).ready(()=>{
        $('#submit-btn').click(function(event){
             event.preventDefault(); //prevent default action 
            $.ajax({
                url: "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&entityTypes=ce_contactEnquiries",
                data : {
                    'data' : {
                    "method":"createEntity",
                        "data":{
                            'yext_insert' : {
                                 'name':'Dot',
                                'name': $("#name").val(),
                                  'email': $("#Email").val(),
                                    'description': $("#Description").val(),
    
                            },
                            
                            'yext_config' : {
                                'entityTypes' : 'ce_contactEnquiries' 
                            }
                        }
                    },
                    'debug':'1'
                },
                
                type: "POST",
                dataType: "json",
                beforeSend: function(){
                    
                    $("#name").prop('disabled',true);
                    $('#submit-btn').prop('disabled',true);
                    $('#submit-btn').html('We Will Get Back to you');
                },
                success: function(result){
                    $("#name").prop('disabled',false);
                    console.log(result);
                    if(result.status == 'success'){
                    }
                    $('#submit-btn').prop('disabled',false);
                    $('#submit-btn').html('query successfully submited');
                },
                error: function(err){
                    console.log(err.statusCode)
                }
            });
        });

        
    });

</script>




</html>
